@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-rose-50: hsl(20, 50%, 98%);
    --color-rose-100: hsl(13, 31%, 94%);
    --color-rose-300: hsl(14, 25%, 72%);
    --color-rose-400: hsl(7, 20%, 60%);
    --color-rose-500: hsl(12, 20%, 44%);
    --color-rose-900: hsl(14, 65%, 9%);
    --color-red-custom: hsl(14, 86%, 42%);
    --color-green-custom: hsl(159, 69%, 38%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--color-rose-100);
    color: var(--color-rose-900);
    font-family: "Red Hat Text", sans-serif;
}

.small-scrollbar::-webkit-scrollbar {
    width: 8px;
}
